body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 66%, rgba(204,51,51,1) 100%); 
}
   
.nav-link li { 
    list-style-type: none;
    padding-left: 30px;
}  
.nav-link {
    display: inline;
    text-align: center;
}
.nav-link a {
  font-size: 40px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(255, 85, 0);
  border-radius: 8px;
  text-align: center;
  

}
footer div {
    width: 100%;
        height: 200px;
        background-color: black;
}

.lien a {
        background-image: url(github-mark-white.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px; 
        background-position-x: center;

}


.banniere {
    padding: 50px;
    background-image: url(03.jpg);
    background-size: cover;
    background-position: center;

}

.Art {
    width: 100%;
            height: 600px;
            background-image: url(02.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #ccc;
            
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 78px;
    text-align: center;
} 
h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;

}    p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}




li {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    color: black;
}

