body {
    background-color: black;
}

.banniere {
    padding: 200px;
    background-image: url('file:///C:/Users/danhk/OneDrive/Bureau/dessin/TEST/01.png');
    background-size: 100% 100%;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 48px;
    text-align: center;
    text-shadow: 10px;
}
li {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}