@import "./_mixins";
@import "./_functions";


.cv{
    @include flex-center();
    @include text(1.2rem, #ececec);
    @include flex-column();
}

.projet {
    @include grid-card(3);
    @include flex-center();
    
  }

  .project-card {
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 10px;
    @include text(1.2rem, #000);
    
    h3 {
      margin-top: 0;
    }

    .badge {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      @include border-radius(5px);
      border: #fff;
      background: #eee;
      &.backend { background-color: #8F5CA3; }
      &.fullstack { background-color: #5C93A3; }
    }

    a {
      display: inline-block;
      margin-top: 0.5rem;
      color: #0077cc;
    }
  }

  .tech-stack {
    @include flex-column();
    @include flex-center();
    margin-top: 2rem;

    h4 {
    margin-bottom: 1rem;
    color: #5C93A3;
    font-size: 1.4rem;
    }

    ul {
      list-style: none;
      padding: 0;
      li::before {
        content: "⚙️ ";
      }
        li {
            @include text(1.2rem, #ececec);
            margin: 0.5rem 0;
            letter-spacing: 0.5px;
        }
    }

    .github-link {
      display: inline-block;
      margin-top: 1rem;
      text-decoration: none;
      font-weight: bold;
      color: 0077cc;
      &:hover {
        background: #d0e7fa;
        color: #005fa3;
    }
    }
  }


  @media (max-width: 768px) {
    .cv {
      padding: 1rem;
    }

    .projet {
      grid-template-columns: 1fr;
      @include flex-column();
      @include flex-center();
    }

    .project-card {
      margin-bottom: 1rem;
    }
  }