body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 66%, rgba(204,51,51,1) 100%); 
}
   
.nav-link li { 
    list-style-type: none;
    padding-left: 30px; 
}  
.nav-link {
    display: inline;
    text-align: center;
}
.nav-link a {
  font-size: 40px;
  text-decoration: none;
  font-family: Arial;
  color: white;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(255, 85, 0);
  border-radius: 8px;
  text-align: center;
  

}
footer div {
    width: 100%;
        height: 200px;
        background-color: black;
}


.github{
    background-image: url(../ressource/github-mark-white.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    float: inline-start;
    
}

.linkedin{
    background-image: url(../ressource/linkedin.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    float: left;
    
}
footer {
    clear: both;
}

    


.competence li{
    display: block;
} 
.t{
    float: inline-start;
    margin-right: 10px;
    
} 
 .s {
    float: left;
    margin-left: 10px;

} 

h2 {
    clear: both;
}


.banniere {
    padding: 50px;
    background-image: url(./ressource/img/03.jpg);
    background-size: cover;
    background-position: center;

}

.Art {
    width: 100%;
            height: 600px;
            background-image: url(/ressource/img/krampus.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #ff4a03;
            
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 78px;
    text-align: center;
} 
h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 29px;
    font-weight: lighter;

}    p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

li {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: lighter;
}


img {
     max-width: 100%;
    }   
        .slider-container {
         max-width: 800px;
         position: relative;
         margin: auto;
         height: 600px;
         overflow: hidden;
        }
        .menu {
         position: absolute;
         left: 0;
         z-index: 11;
         width: 100%;
         bottom: 0;
         text-align: center;
        }
        .menu label {
        cursor: pointer;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50px;
        margin: 0 0.2em 1em;
        }
        .menu label:hover,.menu label:focus {
         background: #1c87c9;
        }
         .slide-input{
         opacity: 0;
        }
        .slide-img {
         width: 100%;
        height: 500px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 10;
        transition: left 0s 0.75s;
         }
        [id^="slide"]:checked + .slide-img {
        left: 0;
        z-index: 100;
        transition: left 0.65s ease-out;
         } 

 .krampus { 
     width: 240px;; 
     height: 500px; 
 }



